@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  background-color: #ededed;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 96vw;
  height: 96vh;
  box-shadow: -1px 4px 5px -6px rgba(0, 0, 0, 0.75);
}
